@font-face {font-family: "BebasNeue-Bold"; src: url('../fonts/BebasNeue-Bold.otf');}
@font-face {font-family: "BebasNeue-Book"; src: url('../fonts/BebasNeue-Book.otf');}
@font-face {font-family: "BebasNeue-Light"; src: url('../fonts/BebasNeue-Light.otf');}
@font-face {font-family: "BebasNeue-Regular"; src: url('../fonts/BebasNeue-Regular.otf');}
@font-face {font-family: "BebasNeue-Thin"; src: url('../fonts/BebasNeue-Thin.otf');}

body
{
width:320px;
height:568px;
position:absolute;
}

#textcontainer
{
width:320px;
height:568px;
position:absolute;
top:10px;
left:-50px;
z-index:5;
}

#text1
{
font-family: BebasNeue-Thin;
font-size:68pt;
text-align:right;
position:relative;
top:238px;
left:-46px;
opacity:0.7;
}

#text2
{
font-family: BebasNeue-Light;
font-size:81pt;
text-align:right;
position:relative;
margin-top:-15px;
top:230px;
opacity:0.8;
}

#text3
{
font-family: BebasNeue-Book;
font-size:34pt;
text-align:right;
position:relative;
margin-top:-22px;
top:230px;
left:-40px;
opacity:0.8;
}

#text4
{
font-family: BebasNeue-Regular;
font-size:34pt;
text-align:right;
position:relative;
margin-top:-8px;
top:230px;
left:-43px;
opacity:0.9;
}

#text5
{
font-family: BebasNeue-Bold;
font-size:34pt;
text-align:right;
position:relative;
margin-top:-34px;
margin-left:20px;
top:260px;
left:-25px;
opacity:0.9;
}

#number
{
font-family: BebasNeue-Bold;
font-size:298pt;
text-align:right;
position:relative;
top:217px;
left:11px;
-webkit-transform: scale(0.85,1.0)
}
